 <!-- @post => post -->
 <!-- @post_comment => post_comment -->

<div class="row">
  <div class="col-md-5">
    <div class="slider">
      <% if post.images.present? %>
        <% post.images.each do |image| %>
          <div style="width:100%">
            <%= image_tag image, style: 'width:100%; height: 400px; object-fit:contain; text-align: center;',alt: 'post image' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-md-6 offset-md-1">
    <p>
      <% if admin_signed_in? %>
        <%= link_to post.user.name, admin_user_path(post.user.id) %>
      <% else %>
        <%= link_to post.user.name, user_path(post.user.id) %>
      <% end %>
    </p>
    <p><%= post.created_at.to_s(:datetime_jp) %></p>
    <p>〒<%= post.postal_code.to_s.insert(3, "-") %></p>
    <p><%= post.address %></p>
    <h3><b><%= post.title %></b></h3>
    <p><%= simple_format(post.content) %></p>
    <h6><b>コメント</b></h6>
    <table class='jscroll-div'>
      <% post.post_comments.each do |post_comment| %>
        <%# post_user == post_comment.user %>
        <tr>
          <td><b><%= link_to post_comment.user.name, user_path(post_comment.user.id) %></b>&nbsp&nbsp</td>
          <td><%= simple_format(post_comment.comment) %></td>
          <td>
            <% if admin_signed_in? %>
              <%= link_to '削除', admin_post_post_comment_path(post, post_comment), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger" %>
            <% else user_signed_in? %>
              <% if post_comment.user == current_user %>
                <%= link_to '削除', post_post_comment_path(post, post_comment), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <!--↓ コメント新規追加欄-->
    <% if user_signed_in? %>
      <div>
        <%= render 'layouts/error_messages', resource: post_comment %>
        <!--コメント追記枠-->
        <%= form_with model: post_comment, url: post_post_comments_path(post), method: :post do |f| %>
          <%= f.text_area :comment, placeholder: "コメントする", size: "50x3" %><br>
          <%#= f.hidden_field :post_id, value: post.id %>
          <%= f.submit 'コメントする', class: "btn btn-success" %>
        <% end %>
      </div>
    <% end %>
    <!--「投稿を削除」赤ボタン_カレントユーザーの場合のみ-->
    <% if admin_signed_in? %>
      <%= link_to '投稿を削除', admin_post_path(post), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger" %>
    <% else user_signed_in? %>
      <% if post.user == current_user %>
        <%= link_to '投稿を削除', post_path(post), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger" %>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  $(document).on('turbolinks:load', function() {
  $(document).ready(function(){
      $('.slider').bxSlider();
    });
 })
</script>
