<div class="container">
  <div class="row">
    <div class="col-md-9">
        <h1>swell へようこそ！</h1>
    </div>
    <div class="col-md-2 offset-md-1">
      <div style="text-align:center">
        <% if user_signed_in? %>
          &nbsp<%= link_to '新規投稿', new_post_path, class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
  <%#= render 'timeline', posts: @posts %>
  <div class='jscroll-div row'>
    <% @posts.each do |post| %>
      <div class='col-md-3 col-sm-6 col-lg-2'>
        <%= link_to post_path(post.id) do %>
          <%# @post_user = post.user %>
          <!--投稿画像-->
          <p>
            <% if post.images.any? %>
              <%= image_tag post.images[0], width:'100%' %>
            <% end %>
          </p>
          <!--投稿日付-->
          <p><%= post.created_at.to_s(:datetime_jp) %></p>
          <!--ユーザー名-->
          <p><%= post.user.name %></p>
          <!--タイトル-->
          <p><%= post.title %></p>
        <% end %>
      </div>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>