<!--<h1>Admin::Users#edit</h1>-->
<!--<p>Find me in app/views/admin/users/edit.html.erb</p>-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @user.name %>さんのユーザー情報編集</h1>

      <%= form_with model: @user, url: admin_user_path(@user.id) do |f| %>
        <table class="table table-bordered">
          <!--<thead></thead>-->
          <tbody>
            <tr>
              <td>ユーザーID</td>
              <td><%= @user.id %></td>
            </tr>
            <tr>
              <td>ユーザー表示名</td>
              <td><%= f.text_field :name, :placeholder =>"#{@user.name}" %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td><%= f.email_field :email, autocomplete: "email", :placeholder =>"#{@user.email}" %></td>
            </tr>
            <tr>
              <td>会員ステータス</td>
              <td>
                <%= f.radio_button :is_active, true %><%= f.label :is_active, "有効", class: "text-active" %><br>
                <%= f.radio_button :is_active, false %><%= f.label :is_active, "退会", class: "text-invalid" %></td>
            </tr>
          </tbody>
        </table>
        <%= f.submit "更新", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
