<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 style="text-align:center"><b>ログイン</b></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-4">
      <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= form_with model: @user, url: user_session_path, local: true do |f| %>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>

      <%= render "public/shared/links" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="text-align:center">
      管理者ログインは <b><%= link_to "➡コチラ", new_admin_session_path %></b>
    </div>
  </div>
</div>