<!--<h1>Public::Users#show</h1>-->
<!--<p>Find me in app/views/public/users/show.html.erb</p>-->

<div>
  <h1>
    <% if @user == current_user %>
      マイページ
    <% else %>
      <%= @user.name %> さん詳細
    <% end %>
  </h1>
  <table>
    <!--<thead></thead>-->
    <tbody>
      <tr>
        <td>ユーザーID</td>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <td>ユーザー表示名</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @user.email %></td>
      </tr>
    </tbody>
  </table>
  <% if @user == current_user %>
    <%= link_to "編集する", edit_information_path(current_user), class: "btn btn-success" %>
  <% end %>
</div>

<div>
  <h1><%= @user.name %> さんの投稿一覧</h1>
  <%= render 'public/homes/timeline', posts: @posts %>
</div>
