<!--<h1>Public::Users#show</h1>-->
<!--<p>Find me in app/views/public/users/show.html.erb</p>-->

<div>
  <h1>
    <% if user_signed_in? %>
      マイページ
    <% else %>
      <%= @user.name %> さん詳細
    <% end %>
  </h1>
  <table>
    <!--<thead></thead>-->
    <tbody>
      <tr>
        <td>ユーザーID</td>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <td>ユーザー表示名</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @user.email %></td>
      </tr>
    </tbody>
  </table>
  <% if user_signed_in? %>
    <%= link_to "編集する", edit_information_path(current_user), class: "btn btn-success" %>
  <% end %>
</div>

<div>
  <h1><%= @user.name %> さんの投稿一覧</h1>
  <div class='jscroll-div'>
    <% @posts.each do |post| %>
      <%= link_to post_path(post.id) do %>
        <!--投稿画像-->
        <p>
          <% if post.images.any? %>
            <%= image_tag post.images[0], size: "200x200" %>
          <% end %>
        </p>
        <!--投稿日付-->
        <p><%= post.created_at.to_s(:datetime_jp) %></p>
        <!--ユーザー名-->
        <!--<p><%#= post.user_id %></p>-->
        <!--タイトル-->
        <p><%= post.title %></p>
      <% end %>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>
