<!--<h1>Public::Users#show</h1>-->
<!--<p>Find me in app/views/public/users/show.html.erb</p>-->

<div>
  <h1>マイページ</h1>
  <table>
    <!--<thead></thead>-->
    <tbody>
      <tr>
        <td>ユーザーID</td>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <td>ユーザー表示名</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @user.email %></td>
      </tr>
    </tbody>
  </table>

  <%= link_to "編集する", edit_information_path(@user.id), class: "btn btn-success" %>
</div>

<div>
  <h1><%= @user.name %> さんの投稿一覧</h1>
  <div class='jscroll-div'>
    <% @posts.each do |post| %>
      <%= link_to admin_post_path(post.id) do %>
        <!--投稿画像-->
        <%= image_tag post.get_image(100,100) %>
        <!--投稿日付-->
        <%= post.created_at %>
        <!--ユーザー名-->
        <%= post.user_id %>
        <!--タイトル-->
        <%= post.title %>
      <% end %>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>
